<div class="articles-content">
	<div class="subscriptions-list author-list articles-container">
		<h3 class="recent-articles">
			{{LANG my_articles}} 
			<?php if ($pt->config->all_create_articles == 'on') { ?>
				<a href="{{LINK create_article}}" class="btn btn_primary_rev cret_artcle" data-load="?link1=create_article">{{LANG create_article}} </a><div class="clear"></div>
			<?php } ?>
		</h3>
		<?php if ($pt->posts_count == 0) { ?>
			<div class="empty_state">
				<span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32"><path fill="currentColor" d="M29 5.031h-7.15c-1.534 0-3.034 0.441-4.325 1.272l-1.525 0.978-1.525-0.978c-1.287-0.831-2.791-1.272-4.325-1.272h-7.15c-0.553 0-1 0.447-1 1v17.75c0 0.553 0.447 1 1 1h7.15c1.534 0 3.034 0.441 4.325 1.272l1.387 0.894c0.041 0.025 0.088 0.041 0.134 0.041s0.094-0.012 0.134-0.041l1.387-0.894c1.294-0.831 2.797-1.272 4.331-1.272h7.15c0.553 0 1-0.447 1-1v-17.75c0-0.553-0.447-1-1-1zM10.15 22.531h-5.9v-15.25h5.9c1.106 0 2.181 0.316 3.109 0.912l1.525 0.978 0.216 0.141v14.438c-1.488-0.8-3.15-1.219-4.85-1.219zM27.75 22.531h-5.9c-1.7 0-3.363 0.419-4.85 1.219v-14.438l0.216-0.141 1.525-0.978c0.928-0.597 2.003-0.912 3.109-0.912h5.9v15.25z"></path>
<path fill="currentColor" d="M12.403 11.281h-5.806c-0.122 0-0.222 0.106-0.222 0.234v1.406c0 0.128 0.1 0.234 0.222 0.234h5.803c0.122 0 0.222-0.106 0.222-0.234v-1.406c0.003-0.128-0.097-0.234-0.219-0.234zM19.375 11.516v1.406c0 0.128 0.1 0.234 0.222 0.234h5.803c0.122 0 0.222-0.106 0.222-0.234v-1.406c0-0.128-0.1-0.234-0.222-0.234h-5.803c-0.122 0-0.222 0.106-0.222 0.234zM12.403 15.656h-5.806c-0.122 0-0.222 0.106-0.222 0.234v1.406c0 0.128 0.1 0.234 0.222 0.234h5.803c0.122 0 0.222-0.106 0.222-0.234v-1.406c0.003-0.128-0.097-0.234-0.219-0.234zM25.403 15.656h-5.806c-0.122 0-0.222 0.106-0.222 0.234v1.406c0 0.128 0.1 0.234 0.222 0.234h5.803c0.122 0 0.222-0.106 0.222-0.234v-1.406c0.003-0.128-0.097-0.234-0.219-0.234z"></path>
 </svg></span>
				<p>{{LANG no_post_found}}</p>
				<?php if ($pt->config->all_create_articles == 'on') { ?>
					<a class="btn btn_primary" href="{{LINK admin-cp/create-article}}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z"></path></svg> {{LANG create}}</a>
				<?php } ?>
			</div>
		<?php } else { ?>
			{{POSTS}}
		<?php } ?>
	</div>
	<?php if ($pt->total_pages > 1) { ?>
		<!--<div class="pull-left showing_pages">
			<?php echo "Showing $pt->page_number out of " . $pt->total_pages; ?>
		</div>-->
		<div class="text-center">
			<nav class="showing_nav movies_pagntn">
				<a href="{{LINK my_articles?page_id=1}}" class="btn" title='First Page'>
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z" /></svg>
				</a>
				<ul class="pagination">
					<?php if ($pt->page_number > 1) {  ?>
						<li>
							<a href="{{LINK my_articles?page_id=<?php echo($pt->page_number - 1) ?>}}" title='Previous Page'>
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" /></svg>
							</a>
						</li>
					<?php  } ?>
					<?php 
						$nums = 0;
						$nums_pages = ($pt->page_number > 3) ? ($pt->page_number - 3) : $pt->page_number;
						for ($i=$nums_pages; $i <= $pt->total_pages; $i++) { 
							if ($nums < 4) {
						?>
							<li class="<?php echo ($pt->page_number == $i) ? 'active' : ''; ?>"><a href="{{LINK my_articles?page_id=<?php echo($i) ?>}}"><?php echo $i ?></a></li>
					<?php } $nums++; } ?>
					<?php if ($pt->total_pages > $pt->page_number) { ?>
						<li>
							<a href="{{LINK my_articles?page_id=<?php echo($pt->page_number + 1) ?>}}" title="Next Page">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" /></svg>
							</a>
						</li>
					<?php } ?>
				</ul>
				<a href="{{LINK my_articles?page_id=<?php echo($pt->total_pages) ?>}}" class="btn" title='Last Page'>
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z" /></svg>
				</a>
			</nav>
		</div>
	<?php } ?>
</div>

<script type="text/javascript">
function PT_DeleteArticle(id) {
	if (!id) {
		return false;
	}
	if (!confirm("{{LANG delete_article_text}}")) {
		return false;
	}
	$.post('{{LINK aj/articles/delete-article}}', {id: id}, function(data, textStatus, xhr) {
		if (data.status == 200) {
			window.location.href = '{{LINK my_articles}}';
		}
	});
}
</script>